.dataTables_wrapper .even
{
    background-color:transparent !important;
}

.dataTables_wrapper .odd
{
    background-color:transparent !important;
}

.licznik-maxCommentLink
{
	-webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.datatable .sorting
{
    color: rgb(255, 230, 0) !important;
}

#licznik-selectMonth
{
    padding-bottom: 10px;
    width: 190px;
    margin: auto;
    height: 30px !important;
}

.licznik-statusInfoAllBlogs
{
    padding-top:5px;
}

.licznik-allBlogsContainer
{
    padding-top:10px;
    padding-bottom:20px; 
    text-align:center;
}

#licznik-allBlogPostsTable_info
{
    height: 33px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.licznik-singleBlogInfo
{
    padding-top:10px;
    padding-bottom:20px;
    white-space: normal !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.licznik-singleInfoDiv
{
    padding-top:5px;
    font-size: 16px;
    font-weight: 400;
}

.licznik-singleStartCountingDiv
{
    text-align:center;
}

.licznik-monthDiv
{
    padding-bottom:10px;
}

.licznik-allInfoContainer
{
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}

.licznik-allBlogsInfoText
{
    cursor:wait !important;
}

.licznik-contentDiv .post-item
{
    padding-top: 10px;
    padding-bottom: 5px;
}

.licznik-contentDiv .post-item-details span
{
    padding-right: 5px;

}

.licznik-contentDiv .post-item-details
{
    font-size: 15px;
    padding-bottom: 10px;
    display: block !important;
    margin: 0 !important;
}

.licznik-contentDiv .post-item-date
{
    font-size: 15px;
}

.licznik-singleBlogStatsInfo
{
    padding-bottom: 25px;
}

.licznik-singleBlogInfo-sort .selected
{
    font-weight: bolder;
}

.licznik-singleBlogInfo-sort label
{
    padding-right: 10px;
    cursor: pointer;
    user-select: none;
}