.dataTables_wrapper .even
{
    background-color:transparent !important;
}

.dataTables_wrapper .odd
{
    background-color:transparent !important;
}

.commentsSumAvgName
{
	-webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.datatable .sorting
{
    color: rgb(255, 230, 0) !important;
}

#blogMonth
{
    padding-bottom: 10px;
    width: 190px;
    margin: auto;
    height: 30px !important;
}

.allInfo
{
    padding-top:5px;
}

.allBlogsInfo
{
    padding-top:10px;
    padding-bottom:20px;
}

#allBlogPostsTable_info
{
    height: 33px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
